.overlay1, .overlay2, .overlay3, .overlay4 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay1:target, .overlay2:target, .overlay3:target, .overlay4:target {
  visibility: visible;
  opacity: 1;
}

.popup1, .popup2, .popup3, .popup4 {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup1 h2, .popup2 h2, .popup3 h2, .popup4 h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup1 .close, .popup4 .close, .popup3 .close, .popup2  .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup1 .close:hover, .popup2 .close:hover, .popup3 .close:hover, .popup4 .close:hover {
  color: #06D85F;
}
